{% extends "layout.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'add_film.js') }}"></script>
    <script>
        let all_characters = {{all_characters|tojson}};
        let all_droids = {{all_droids|tojson}};
    </script>

    <div class = "container headerhome coolfont">
        <img src = "https://i.pinimg.com/originals/9b/53/df/9b53df52e8f05fc30268e5fd99d5ef9e.jpg" class="headerimage" alt = "Star Wars header image">
        <br>
        <div id = "form_feedback" class = "form_feedback"></div>
        <span class="title accent">Add A New Entry:</span>
        <div class = "col-10">
            <div class = "row forminput nospace">
                <label for="title " class = "darkgrey">title:</label>
                <input type="text" class="form-control" id = "title" placeholder = "title">
            </div>
            <div class = "row forminput">
                <div class = "col nospace">
                    <label for="release_year" class = "darkgrey">release year:</label>
                    <input type="number" class="form-control" id = "release_year" placeholder = "release year">
                </div>
                <div class = "col nospace">
                    <label for="era" class = "darkgrey">canon year:</label>
                    <input type="text" class="form-control" id = "era" placeholder = "canon year (ex : 22 BBY)">
                </div>
            </div>
            <div id = "radio_series" class = "row forminput radiodiv">
                <label class="radio-inline choose"><input type="radio" name="series" value="original"> original</label> 
                <label class="radio-inline choose"><input type="radio" name="series" value="prequel"> prequel</label>
                <label class="radio-inline choose"><input type="radio" name="series" value="sequel"> sequel</label>  
                <label class="radio-inline choose"><input type="radio" name="series" value="anthology"> anthology</label>    
            </div>
            <div class = "row forminput nospace">
                <div class = "col nospace">
                    <div id = "mainchar_div" class="form-group">
                        <label for="chars" class = "darkgrey">main characters:</label>
                        <select class="form-control custom-select custom-select-lg" id="chars" multiple onchange="showDiv('other_option', this)">
                            {% for char in all_characters %}
                            <option value = "{{char}}">{{char}}</option>
                            {% endfor %}
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div id="other_option">
                        <input type="text" id="other" class="form-control" placeholder="other character">
                    </div>
                </div>
                <div class = "col nospace">
                    <div id = "droid_div" class="form-group">
                        <label for="droids" class = "darkgrey">droids:</label>
                        <select class="form-control custom-select custom-select-lg" id="droids" multiple onchange="showDiv('other_option2', this)">
                            {% for droid in all_droids %}
                            <option value = "{{droid}}">{{droid}}</option>
                            {% endfor %}
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div id="other_option2">
                        <input type="text" id="other2" class="form-control" placeholder="other droid">
                    </div>
                </div>
            </div>
            <div class = "row forminput nospace">
                <div class="form-group">
                    <label for="summary" class = "darkgrey">summary:</label>
                    <textarea id="summary" class="form-control textareatext" rows="4" cols = "200" placeholder="put summary here"></textarea>
                </div>
            </div>
            <div class = "row forminput nospace">
                <label for="image_url" class = "darkgrey"> img url:</label>
                <input type="url" class="form-control" id = "image_url" placeholder = "add image url here">
            </div>
            <div class = "row forminput nospace">
                <label for="addbutton"></label>
                <input type="submit" class="btn btn-outline-primary btn-lg btn-block" id = "addbutton" value="Submit">
            </div>
        </div>
    </div> 

{% endblock %}

