<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>Homework 7 Main</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hubballi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename = 'layout.js') }}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand coolfont navtitle" href="/">star wars universe </a>
        <a class="navbar-brand coolfont navtitle" href="/view/all">view all </a>
        <a class="navbar-brand coolfont navtitle" href="/add">add new </a>
        <form id = "search" class="form-inline my-2 my-lg-0" action = "/search" autocomplete="on">
          <input id = "searchval" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="container">   
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>




